@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Controle Financeiro</h1>
    <p>Descomplicando sua vida financeira!</p>
    <img src="~/Artboard 1.png" alt="Iamgem Ilustrativa" width=600 height=400>
</div>
